<div class="container spacer">
  <div class="col-md-8 col-xs-12 col-md-offset-2 col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">Saisie d'un Pays</div>
    <div class="panel panel-body">
        <form #f="ngForm" (ngSubmit)="enregistrerPays(f.value)">
            <div class="form-group">
              <label class="control-label">Nom :</label> 
               <input class="form-control" type="text" ngModel name="libellePays" required>
            </div>      
               <button [disabled]="!f.valid" type="submit" class="btn btn-success bnt-lg btn-block">Save Pays</button>
               <h3>{{ajoutReussi}}</h3>
          </form>
    </div>
  </div>
</div>
</div>
